body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

p {
    line-height: 1.6em;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn {
    border-radius: 5px;
    border: 0;
    background-color: #1B996B;


    padding: 13px 0;
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;

    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    cursor: pointer;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #1DB77E;
}

/* Container */
.container {
    width: 100%;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;

    transition: all .2s ease;

    padding: 25px 0;
}

.header_btn {
    margin: 0;
}

.header_fixed {
    top: 0;
    right: 0;
    position: fixed;
    margin: 0 auto;
    background: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 5;
    padding: 10px 0;
}

.header_fixed .nav_a {
    color: #1B996B;
}

.header_fixed .nav_a:hover {
    color: #1DB77E;
}

.header_fixed .btn {
    background-color: #1B996B;
    color: #fff;
    z-index: 4;
}

.header_fixed .btn:hover {
    background-color: #1B996B;
}

.header_fixed.open {
    box-shadow: none;
}


.burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    display: none;
}

.burger::after,
.burger:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #1B996B;
    transition: all .2s ease;
}

.burger:before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span {
    position: relative;
    top: 10px;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #1B996B;
    transition: all .2s ease;
}

.burger.open:before {
    transform: rotate(45deg);
    top: 10px;
}

.burger.open::after {
    transform: rotate(-45deg);
    bottom: 10px;
}

.burger.open span {
    transform: scale(0);
}

.mobile_menu {
    position: fixed;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 30px;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    top: -100%;
    opacity: 0;
    transition: all .5s ease;
    overflow: auto;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.mobile_menu.open {
    top: 0;
    opacity: 1;
}

.nav_mobile {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.nav_a.mobile {
    padding: 20px 0;
    margin: 5px 0;
    background-color: #1B996B;
}

.nav_a.mobile:hover {
    color: #fff;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_a {
    color: #fff;
    margin-right: 50px;
    transition: color .2s linear;
}

.nav_a:last-child {
    margin-right: 0;
}

.nav_a:hover {
    color: #1B996B;
}


/* Intro */
.intro {
    height: 100vh;
    width: 100%;
    background: url(../img/Фон.jpg) no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_content {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.title_intro {
    font-weight: 600;
    font-size: 56px;
    margin-bottom: 25px;
}

.green_text {
    color: #1B996B;
}

.subtitle_intro {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 36px;
}


/* Section */
.section {
    padding: 60px 0;
}


/* Advantages */
.advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to_people {
    width: 100%;
    max-width: 470px;
}

.h1 {
    color: #1B996B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}


.advantage_item {

    padding: 22px 0 11px 80px;
    max-width: 420px;
}

.advantage_item_one {
    background: url(../img/Иконка\ 2.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_two {
    background: url(../img/Иконка\ 3.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_three {
    background: url(../img/Иконка\ 4.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_four {
    background: url(../img/Иконка\ 1.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_five {
    background: url(../img/Иконка\ 8.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_six {
    background: url(../img/Иконка\ 7.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_seven {
    background: url(../img/Иконка\ 6.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.advantage_item_eight {
    background: url(../img/Иконка\ 5.svg);
    background-position: left;
    background-repeat: no-repeat;
}


.h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.line {
    margin-top: 50px;
    background-color: #1B996B;
    width: 2px;
    height: 450px;
}


/* What we can */
.slider_wrapper {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slider__item {
    width: 100%;
    max-width: 350px;
    min-width: 0;
    height: 500px;
    padding-top: 40px;

    margin: 0 auto;

    background-color: #fff;
    position: relative;
}

.slider_item_content {
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
}

.slider_img {
    margin-bottom: 20px;
}

.slider_img path {
    transition: fill .2s linear;
    fill: #1B996B;
}

.slider_btn {
    background-color: #fff;
    color: #000;
    margin: 40px auto 0;
    transition: all .2s linear;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-125px, 0);
}

.slider_btn:hover {
    background-color: #fff;
    color: #1B996B;
}


/* Slick slider */
/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: center;
}

/* Слайд */
.slick-slide {}

.slick-slide button {
    display: none;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active .slider__item {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

/* Слайд основной */
.slick-slide.slick-current .slider__item {
    background-color: #1B996B;
    color: #fff;
    height: 550px;
}

.slick-slide.slick-current .slider__item svg path {
    fill: #fff;
}

.slick-slide.slick-current .slider_btn {
    display: block;
}

/* Слайд по центру */
.slick-slide.slick-center .slider__item {
    background-color: #1B996B;
    color: #fff;
    height: 550px;
}

.slick-slide.slick-center .slider__item svg path {
    fill: #fff;
}

.slick-slide.slick-center .slider_btn {
    display: block;
}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 2;
    font-size: 0;
    width: 20px;
    height: 30px;
    cursor: pointer;
    padding: 0 10px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url(../img/Vector-1.svg) 0 0 /100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url(../img/Vector.svg) 0 0 /100% no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    list-style: none;
    margin: 0 7px;
}

/* Активная точка */
.slick-dots li.slick-active button {
    opacity: 1;
}

/* Элемент точки */
.slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: .3;
    background-color: #1B996B;
    cursor: pointer;
}


/* How we work */
.how_we_work_bg {
    background: url(../img/how_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}

.to_seller_buyer {
    display: flex;
}

.to_seller_buyer_tittle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    transition: all .2s linear;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.to_seller_buyer_tittle:hover {
    border-color: #000;
}

.to_seller_buyer_tittle.active {
    border-bottom: 1px solid #000;
}

.to_seller_buyer_tittle:last-child {
    margin-left: 32px;
}

.offers {
    flex-wrap: wrap;
    margin-top: 74px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    display: none;
}

.offers.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease;
}

.offer {
    width: 100%;
    max-width: 350px;
    margin-bottom: 68px;
    margin-right: 40px;
    position: relative;
}

.offer_num {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1B996B center;

    padding: 8px 15px;
    z-index: 3;

    font-size: 18px;
    color: #fff;
}

.offer::before {
    content: '';
    position: absolute;
    background-color: #1B996B;
    width: 101%;
    height: 4px;
    top: 20px;
    left: 38px;
    z-index: 1;
}

.offer_3,
.offer_6 {
    margin-right: 0;
}

.offer_3::before {
    height: 165px;
    background-color: transparent;
    border-top: 4px solid #1B996B;
    border-right: 4px solid #1B996B;
    border-radius: 0 160px 0 0;
    width: 112%;
}

.offer_6::before {
    height: 150px;
    background: transparent;
    border-bottom: 4px solid #1B996B;
    border-right: 4px solid #1B996B;
    border-radius: 0 0 140px 0;
    top: -125px;
    width: 112%;
}


/* About company */
.about_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_company_text {
    width: 100%;
    max-width: 614px;
    min-width: 380px;
}

.h1.company {
    text-align: left;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3em;
}

.about_company_text p {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.about_company_img {
    width: 40%;
    height: auto;
    filter: drop-shadow(-18px 25px 4px rgba(27, 153, 107, 0.06));
    image-rendering: optimizeSpeed;
}


/* Request */
.section.request_section {
    background: #F7F5F5;
}

.request {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request_text {
    width: 100%;
    max-width: 340px;
}

.request_inputs {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.request_input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    padding: 10px 0px 16px 20px;
    border: 1px solid #1B996B;
    border-radius: 5px;
    color: #000;
    margin-bottom: 20px;
}

.request_input:focus {
    outline: none;
}

.star {
    position: relative;
    width: 250px;
    margin-right: 10px;
}

.star::after {
    content: '*';
    display: block;
    color: red;
    position: absolute;
    top: 5px;
    right: 12px;
}

.checkbox {
    margin-bottom: 16px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    cursor: pointer;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #1B996B;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #1B996B;
    background-color: #fff;
    background-image: url(../img/gal.svg);
    background-size: 10px;
}

.request_btn {
    margin: 0;
    border: 1px solid #1B996B;
}

.request_btn:disabled {
    background-color: #F4F2F2;
    border: 1px solid #727272;
    color: #727272;
}


/* Adress */
.contacts {
    height: 700px;
    display: flex;
    align-items: center;
}

.contacts_left {
    display: block;
    flex: none;
    width: 400px;
    margin-left: calc((100% - 1200px)/ 2);
    padding-right: 30px;
}

.contacts_left-block-item {
    margin-bottom: 20px;
}

.contacts_left-block-item:last-child {
    margin-bottom: 0;
}

.contacts_left-block-item-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
}

.contacts_left-block-item-value {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.contacts_left-block-item-value a {
    color: #000;
    transition: all .2s linear;
}

.contacts_left-block-item-value a:hover {
    color: #1B996B;
}

.contacts_right {
    background: url(../img/adress.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* Footer */
.footer {
    background-color: #F7F5F5;
    padding-bottom: 35px;
}

.nav_a.footer {
    color: #000;
}

.nav_a.footer:hover {
    color: #1DB77E;
}

.social {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.politic {
    color: #000;
    border-bottom: 1px solid #000;
    transition: all .2s linear;
}

.politic:hover {
    color: #1DB77E;
    border-color: #1DB77E;
}

.h1_politic {
    text-align: left;
}


.messangers_tel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 329px;
    align-items: center;
}

.tel_footer {
    color: #000;
    transition: color .2s linear;
}

.tel_footer:hover {
    color: #1DB77E;
}

.messangers a {
    margin-right: 15px;
}

.messangers a:last-child {
    margin-right: 0;
}

.messangers_item path {
    transition: fill .2s linear;
}

.messangers a:hover .messangers_item path {
    fill: #1DB77E;
}

.footer_text {
    margin-top: 55px;
    font-weight: 300;
    font-size: 12px;
}


/* Popup */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    ;
    top: 0;
    left: 0;
    cursor: default;
}

.popup_body {
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 158px 50px 42px;
    border-radius: 5px;
    position: relative;
    overflow: auto;
}

.popup_content_politic {
    padding-top: 50px;
    max-width: 800px;
}

.popup_form {
    display: flex;
    flex-direction: column;
}

.form_input {
    margin-bottom: 30px;
    max-width: 300px;
    padding: 14px 0 14px 30px;
    border: none;
    background-color: #F4F2F2;
    font-size: 14px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.form_input:focus,
.form_textarea:focus {
    outline: none;
    border: 2px solid #1B996B;
}

.form_textarea {
    font-family: 'Open Sans', sans-serif;
    max-width: 300px;
    padding: 14px 30px;
    border: none;
    background-color: #F4F2F2;
    font-size: 14px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.popup_btn {
    padding: 12px 0;
    width: 180px;
    margin: 30px auto 0;
}

.close_form {
    font-size: 30px;
    z-index: 12;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    color: #1B996B;
}



/* Medid */

@media(max-height: 400px) {
    .nav_a.mobile {
        padding: 10px 0;
    }
}


@media (max-width: 1220px) {

    /* Header */
    .nav_header {
        display: none;
    }

    .header_btn {
        display: none;
    }

    .burger {
        display: block;
    }

    /* Intro */
    .title_intro {
        font-size: 38px;
    }

    .subtitle_intro {
        font-size: 24px;
    }


    /* About company */
    .about_company_img {
        margin-right: 20px;
    }

    .h3 {
        font-size: 20px;
    }

    /* How we work */
    .offers {
        justify-content: space-between;
    }

    .offer,
    .offer_3,
    .offer_6 {
        margin: 0;
    }

    .offer::before,
    .offer_3::before,
    .offer_6::before {
        display: none;
    }

    /* Adress */
    .contacts_left {
        margin-left: 15px;
    }
}

@media (min-width: 1220px) {
    .mobile_menu.open {
        display: none;
    }
}

@media (max-width: 1070px) {

    /* How we work */
    .offers {
        justify-content: center;
    }

    .offer {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {

    /* Header */
    .logo_header {
        width: 150px;
    }

    .nav_a {
        margin-right: 24px;
    }

    .nav_a:last-child {
        margin-right: 0;
    }

    /* Intro */
    .title_intro {
        font-size: 40px;
    }

    .subtitle_intro {
        font-size: 20px;
    }

    .intro {
        min-height: 450px;
    }

    /* Advatages*/
    .advantage_item_one,
    .advantage_item_two,
    .advantage_item_three,
    .advantage_item_four {
        margin-right: 30px;
    }

    .line {
        display: none;
    }


    /* Request */
    .request {
        justify-content: center
    }

    .request_inputs {
        flex-direction: column;
    }

    .request_input {
        margin-bottom: 10px;
    }

}

@media (max-height: 580px) {

    /* Popup */
    .popup_content {
        height: 100%;
    }
}

@media (max-width: 768px) {
    body.lock {
        overflow-y: hidden;
    }

    /* Header */
    .header {
        padding: 0;
    }

    .mobile_menu {
        height: 100%;
        overflow: auto;
        padding-bottom: 50px;
    }

    /* Intro */
    .title_intro {
        font-size: 35px;
    }

    .subtitle_intro {
        font-size: 24px;
    }

    /* Advantages */
    .advantages {
        flex-direction: column;
        justify-content: center;
    }

    .to_people {
        margin-bottom: 30px;
    }

    .to_people:last-child {
        margin-bottom: 0;
    }

    .advantage_item_one {
        background-size: 50px;
    }

    .advantage_item_two {
        background-size: 50px;
    }

    .advantage_item_three {
        background-size: 50px;
    }

    .advantage_item_four {
        background-size: 50px;
    }

    .advantage_item_five {
        background-size: 50px;
    }

    .advantage_item_six {
        background-size: 50px;
    }

    .advantage_item_seven {
        background-size: 50px;
    }

    .advantage_item_eight {
        background-size: 50px;
    }

    /* How we work */
    .offer,
    .offer_3,
    .offer_6 {
        margin-bottom: 20px;
    }

    /* Slider */
    .slick-slide.slick-current .slider__item {
        height: 500px;
    }


    /* About company */
    .about_company_img {
        display: none;
    }

    /* Adress */
    .contacts {
        height: auto;
        flex-direction: column-reverse;
    }

    .contacts_right {
        height: 200px;
    }

    .contacts_left {
        width: 90%;
        max-width: 400px;
        padding: 20px 0;
    }

    /* Footer */
    .nav_footer {
        margin-top: 20px;
    }

    .nav_a.footer {
        display: block;
        padding-bottom: 10px;
        text-align: left;
    }

    .header_content.footer {
        display: block;
    }

    .social {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }

    body {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .h1 {
        font-size: 20px;
    }

    .section {
        padding: 20px 0;
    }

    /* Header */
    .logo {
        width: 120px;
    }

    /* intro */
    .title_intro {
        font-size: 26px;
    }

    .subtitle_intro {
        font-size: 15px;
    }

    /* Advantages */
    .advantages {
        display: block;
    }

    .to_seller_buyer_tittle {
        font-size: 18px;
    }

    /* Slider */

    .slider_btn {
        font-size: 14px;
    }

    .slider_text {
        padding: 0 10px;
    }

    /* Request */
    .request {
        display: block;
    }

    /* About */
    .about_company_text {
        min-width: 260px;
    }

    /* How we work */

    .offer {
        margin-bottom: 20px;
    }

    /* Adress */
    .contacts_left-block-item {
        font-size: 14px;
    }

    /* Footer */
    .social {
        display: block;
    }

    .messangers_tel {
        display: block;
        margin-top: 20px;
    }

    .messangers {
        margin-top: 10px;
    }

    .h1_politic {
        font-size: 16px;
    }
}